@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&display=swap');

* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a{
    text-decoration: none;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.center{
	width: 25%;
    text-align: center;
	margin-bottom: 20px;
}

.none{
	display: none;
}

.block{
	display: block;
}
.cocktail{
    transition: transform .2s; 
	width: 75%;
	height: 60%;
	margin: 0 auto;
	display: block;
}

.blockdi{
	position: relative;
	bottom: 35px;
	background-color: rgb(245, 197, 138);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.cocktail:hover {
    transform: scale(1.2); 
  }

img{
	width: 100%;
	height: 100%;
}

#title{
	background-color: rgba(0, 0, 0, 0.645);
	position: relative;
	bottom: 35px;
	width: 100%;
	height: 30px;
	text-transform: uppercase;
	font-weight: bold;
	color: rgb(245, 197, 138);
}

#titlealcool{
	background-color: rgba(0, 0, 0, 0.645);
	position: relative;
	bottom: 35px;
	width: 100%;
	height: 30px;
	text-transform: uppercase;
	font-weight: bold;
	color: rgb(6, 250, 128);
}

.blockdialcool{
	position: relative;
	bottom: 35px;
	background-color: rgb(6, 250, 128);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}


p{
    color: black;
}

#h3noalcool{
	text-align: center;
	margin-bottom: 40px;
	color: rgb(245, 197, 138);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 45px;
}

#h3alcool{
	text-align: center;
	margin-bottom: 40px;
	color: rgb(6, 250, 128);
	text-transform: uppercase;
	font-weight: bold;
	font-size: 45px;
}



#ing{
    font-style: italic;
	max-width: 100%;
	width: 90%;
	margin: 0 auto;
	margin-top: 10px;
}

/* SEARCHBAR  */
form, input, .caret {
	margin: auto;
}
form {
	position: relative;
	width: 100%;
	max-width: 17em;
    top: 45px;
	margin-bottom: 100px;
}
input, .caret {
	display: block;
	transition: all calc(var(--dur) * 0.5) linear;
}
input {
	background: transparent;
	border-radius: 50%;
	box-shadow: 0 0 0 0.25em inset;
	caret-color: var(--primary);
	width: 2em;
	height: 2em;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input:focus, input:valid {
	background: var(--input);
	border-radius: 0.25em;
	box-shadow: none;
	padding: 0.75em 1em;
	transition-duration: calc(var(--dur) * 0.25);
	transition-delay: calc(var(--dur) * 0.25);
	width: 100%;
	height: 3em;
}
input:focus {
	animation: showCaret var(--dur) steps(1);
	outline: transparent;
}
input:focus + .caret, input:valid + .caret {
	animation: handleToCaret var(--dur) linear;
	background: transparent;
	width: 1px;
	height: 1.5em;
	transform: translate(0,-1em) rotate(-180deg) translate(7.5em,-0.25em);
}
input::-webkit-search-decoration {
	-webkit-appearance: none;
}
label {
	color: #e3e4e8;
	overflow: hidden;
	position: absolute;
	width: 0;
	height: 0;
}
.caret {
	background: currentColor;
	border-radius: 0 0 0.125em 0.125em;
	margin-bottom: -0.6em;
	width: 0.25em;
	height: 1em;
	transform: translate(0,-1em) rotate(-45deg) translate(0,0.875em);
	transform-origin: 50% 0;
}

/* Animations */
@keyframes showCaret {
	from {
		caret-color: transparent;
	}
	to {
		caret-color: var(--primary);
	}
}

:root {
	--bg: #e3e4e8;
	--fg: #17181c;
	--input: #ffffff;
	--primary: #255ff4;
	--dur: 1s;
}

body{
    background-image: url(/assets/images/fond.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#nofound{
	width: 50%;
    margin: 0 auto;
    text-align: center;
}

.item img{
	width: 50%;
	margin-top: 50px;
}

.progress{
    position: relative;
	top: 100px;
	right: 50%;
	left: 35%;
    height: 10px;
    width: 30%;
    border: 10px solid #f4a261;
    border-radius: 15px;
}
.progress .color{
    position: absolute;
    background-color: #ffffff;
    width: 0px;
    height: 10px;
    border-radius: 15px;
    animation: progres 1.5s infinite linear;    
}
@keyframes progres{
    0%{
      width: 0%;
    }
    25%{
        width: 50%;
    }
    50%{
        width: 75%;
    }
    75%{
        width: 85%;
    }
    100%{
        width: 100%;
    }
};

#itemnotfound img{
	width: 100%;
}

/* Detail */

.container{
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

.block{
	background-color: #F9F0E4;
	width: 90%;
	padding: 10px;
}

.content{
	display: flex;
	border: #CCACF5 solid 2px;
	height: 570px;
}

.img-cocktail{
	width: 33.33%;
}

hr.solid {
	border-top: 1px solid #CCACF5;
	margin-bottom: 20px;
  }

.titleDetail{
	width: 30%;
}

.titleDetail p{
	font-family: 'Big Shoulders Display', cursive;
	color: #8D7CF6;
	text-transform: uppercase;
	font-size: 64px;
	margin-top: 90px;
	white-space: pre-line;
}

.ticket{
	margin-top: 20px;
	background-color: #E4EAFF;
	text-align: center;
	width: 25%;
	height: 530px;
}

#receipt{
	margin-bottom: 15px;
	font-size: 16px;
	color: #8D7CF6;
	font-family: 'Bevan', cursive;
}

#restauName{
	margin-bottom: 3px;
	font-size: 16px;
	color: #9789c7;
	font-family: 'Bevan', cursive;
}

#adresse{
	font-style: italic;
	font-size: 10px;
	color: #B2A4ED;
	font-family: 'Bevan', cursive;
	margin-bottom: 15px;
}

.taxe{
	display: flex;
	/* justify-content: space-around;  */
}

.taxe p{
	color: #8D7CF6;
	font-size: 14px;
	font-family: 'Bevan', cursive;
	width: 33.33%;
}


.price{
	display: flex;
	/* justify-content: space-around; */
	margin-bottom: 10px;
}

#nameTicket{
	color: #9789c7;
	font-size: 14px;
	font-family: 'Bevan', cursive;
	white-space: pre-line;
	width: 50%;
}

#number{
	width: 33%;
}

#itemtaxe{
	width: 33%;
}

#pcocktail{
	width: 33%;
}

.price p{
	color: #9789c7;
	font-size: 14px;
	font-family: 'Bevan', cursive;
}

.total{
	display: flex;
	margin-bottom: 10px;
}

#total{
	color: #8D7CF6;
	font-family: 'Bevan', cursive;
	font-style: italic;
	font-size: 14px;
	width: 50%;
}

#totalprice{
	color: #9789c7;
	font-family: 'Bevan', cursive;
	font-style: italic;
	font-size: 14px;
	width: 50%;
}

.prepaDetail{
	white-space: pre-line;
}

#text-prep{
	color: #8D7CF6;
	font-size: 14px;
	font-style: italic;
	font-family: 'Bevan', cursive;
}

.all-prep{
	display: flex;
	margin-top: 15px;
}

#list-prep{
	color: #B2A4ED;
	font-size: 14px;
	font-style: italic;
	font-family: 'Bevan', cursive;
	text-align: left;
}

.shaker{
	text-align: center;
	width: 50%;
	margin: 0 auto;
}

#shaker{
	color: #8D7CF6;
	font-size: 16px;
	font-family: 'Bevan', cursive;
	margin-right: 20px;
	margin-top: 20px;
}

.shaker img{
	width: 70px;
	height: 70px;
}

.shaker div{
	display: flex;
	margin-top: 30px;
	width: 25%;
}


#handle{
	width: 33,33%;
	display: flex;
	justify-content: space-around;
}

#handle p{
	color: #8D7CF6;
	font-size: 16px;
	font-family: 'Bevan', cursive;
}

#handle button{
	width: 30px;
	color: #8D7CF6;
	background: none;
	font-size: 30px;
	border: none;
	cursor: pointer;
}

#clvalue{
	color: #B2A4ED;
	font-size: 14px;
	font-style: italic;
	font-family: 'Bevan', cursive;
	text-align: left;
	margin-left: 30px;
	margin-right: 10px;
}